<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">packages/Ecotone/src</directory>
      <directory suffix=".php">packages/Dbal/src</directory>
      <directory suffix=".php">packages/PdoEventSourcing/src</directory>
      <directory suffix=".php">packages/JmsConverter/src</directory>
      <directory suffix=".php">packages/Laravel/src</directory>
      <directory suffix=".php">packages/Symfony/App</directory>
      <directory suffix=".php">packages/Symfony/DependencyInjection</directory>
      <directory suffix=".php">packages/Symfony/SymfonyBundle</directory>
      <directory suffix=".php">packages/Amqp/src</directory>
      <directory suffix=".php">packages/Sqs/src</directory>
      <directory suffix=".php">packages/Redis/src</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showOnlySummary="true" />
    </report>
  </coverage>
  <php>
    <server name="KERNEL_CLASS" value="Ecotone\SymfonyBundle\App\Kernel" />
  </php>
  <testsuites>
    <testsuite name="Core tests">
      <directory>packages/Ecotone/tests</directory>
    </testsuite>
    <testsuite name="Dbal tests">
      <directory>packages/Dbal/tests</directory>
    </testsuite>
    <testsuite name="Event Sourcing tests">
      <directory>packages/PdoEventSourcing/tests</directory>
    </testsuite>
    <testsuite name="Jms Converter tests">
      <directory>packages/JmsConverter/tests</directory>
    </testsuite>
    <testsuite name="Laravel tests">
      <directory>packages/Laravel/tests</directory>
    </testsuite>
    <testsuite name="Symfony tests">
      <directory>packages/Symfony/tests</directory>
    </testsuite>
    <testsuite name="Enqueue tests">
      <directory>packages/Enqueue/tests</directory>
    </testsuite>
    <testsuite name="Amqp tests">
      <directory>packages/Amqp/tests</directory>
    </testsuite>
    <testsuite name="SQS tests">
      <directory>packages/Sqs/tests</directory>
    </testsuite>
    <testsuite name="Redis tests">
      <directory>packages/Redis/tests</directory>
    </testsuite>
    <testsuite name="Lite Application tests">
      <directory>packages/LiteApplication/tests</directory>
    </testsuite>
    <testsuite name="Monorepo tests">
      <directory>Monorepo/CrossModuleTests/Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
