version: "3"

services:
  app:
    image: simplycodedsoftware/php:8.2.12
    volumes:
      - "$PWD:/data/app"
    user: 1000:1000
    container_name: "ecotone-quickstart"
    working_dir: "/data/app"
    command: sleep 999999
    environment:
      RABBIT_HOST: "amqp://guest:guest@rabbitmq:5672/%2f"
      DATABASE_DSN: pgsql://ecotone:secret@database:5432/ecotone
      SECONDARY_DATABASE_DSN: mysql://ecotone:secret@database-mysql:3306/ecotone
    networks:
      - default
  database:
    image: postgres:12.1
    networks:
      - default
    environment:
      POSTGRES_USER: "ecotone"
      POSTGRES_PASSWORD: "secret"
    ports:
      - "5432:5432"
  database-mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "secret"
      MYSQL_USER: "ecotone"
      MYSQL_PASSWORD: "secret"
      MYSQL_DATABASE: "ecotone"
    ports:
      - "3306:3306"
  rabbitmq:
    image: rabbitmq:3.6-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - default